<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="cardList p-3 rounded-5 shadow-lg d-flex justify-content-center gap-3 flex-wrap">
        @for (item of movies; track $index) {
        <app-movie-card
          [movie]="item"
          (Delete)="delete($event)"
          (Edit)="edit($event)"
        ></app-movie-card>
        }
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-12 col-md-10 col-lg-8">
      @if(selectedMovie != undefined){
      <app-movie-edit
        [movie]="selectedMovie"
        (save)="save($any($event))"
        (cancel)="cancel()"
      />
      }
    </div>
  </div>

  <button
    class="btn btn-danger mt-3 position-fixed bottom-0 end-0 m-5 rounded-pill"
    style="height: 50px; width: 150px"
    (click)="add()"
  >
    Hozzáadás
  </button>
</div>
